.share-rl-tips {
    width: 98px;
    display: inline-block;
    background-color: #fffaf5;
    color: #ff8922;
    font-size: 12px;
    border: 1px solid #ffe5cb;
    padding: 5px 8px 5px 12px;
}
.share-rl-tips strong {
    font-weight: bold;
}
.share-rl-tips .rule-arrow {
    background: url(/static/img/common/rl-arrow.png) 0 -11px no-repeat;
    position: absolute;
    right: 51px;
    top: -6px;
    color: #ffe5cb;
    width: 11px;
    height: 6px;
}
.share-rl-tips .credit-rl {
    color: #787d82;
    padding-left: 7px;
}
.share-rl-tips .credit-rl:hover {
    color: #14191e;
}
.cont-credit {
    padding: 5px 10px;
    margin: 15px 0 3px;
    width: auto;
}
/*ѧϰ*/
i.hasOpen {
    background: url('/static/img/learnicon.png?v3.1') no-repeat 0 -37px;
    width: 20px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
i.unOpen {
    background: url('/static/img/learnicon.png?v3.1') no-repeat 0 -82px;
    width: 20px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
i.hasOpenOn {
    background: url('/static/img/learnicon.png?v3.1') no-repeat 0 8px;
    width: 20px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.mod-chapters {
    margin-top: -14px;
}
.mod-chapters .chapter {
    padding: 9px 0;
    border-bottom: 1px solid #edf1f2;
}
.mod-chapters .chapter .video li {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    margin: 9px 0;
}
.mod-chapters .chapter .video li:hover {
    background: #edf1f2;
}
.mod-chapters .chapter .video li:last-child {
    border: none;
}
.mod-chapters .chapter .video li .study-state {
    background: url('/static/img/learnicon.png?v3.1') no-repeat 0 -330px;
    height: 12px;
    width: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
}
.mod-chapters .chapter .video li .study-state.doStudy,
.mod-chapters .chapter .video li .study-state.ing {
    background-position: 0 -368px;
}
.mod-chapters .chapter .video li .study-state.hasStudy,
.mod-chapters .chapter .video li .study-state.done {
    background-position: 0 -352px;
}
.mod-chapters .chapter .video li a {
    color: #787d82;
    display: block;
    overflow: hidden;
    padding: 0 0 0 20px;
    word-break: break-all;
}
.mod-chapters .chapter .video li a:hover {
    color: #14191e;
}
.mod-chapters .chapter .video li a.studyvideo,
.mod-chapters .chapter .video li a.practise,
.mod-chapters .chapter .video li a.programme {
    background: url('/static/img/learnicon.png?v3.1') no-repeat 0 -121px;
}
.mod-chapters .chapter .video li a.practise {
    background-position: 0 -157px;
}
.mod-chapters .chapter .video li a.programme {
    background-position: 0 -194px;
}
.mod-chapters .chapter h3 {
    height: 40px;
    line-height: 40px;
    padding-right: 13px;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
}
.mod-chapters .chapter h3:hover {
    background-color: #EDF1F2;
}
.mod-chapters .chapter h3 span {
    float: right;
    font-weight: bold;
    font-size: 12px;
    color: #787D82;
}
.mod-chapters .chapter h3 strong {
    font-weight: bold;
}
.mod-chapters .chapter h3 i {
    margin-right: 10px;
}
.mod-chapters .chapter h3 em {
    color: #b5b9bc;
}
.mod-chapters .chapter ul {
    display: none;
}
.mod-chapters .chapter strong {
    display: block;
    padding: 0 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;
    text-overflow: ellipsis;
}
.mod-chapters .chapter em {
    float: right;
    font-size: 12px;
    cursor: default;
}
.mod-chapters .chapter .new,
.mod-chapters .chapter .laststudy {
    color: #00B23B;
    font-size: 12px;
    position: absolute;
    right: 35px;
    top: 0;
}
.mod-chapters .chapter .state-open,
.mod-chapters .chapter .state-unopen,
.mod-chapters .chapter .state-expand {
    background-image: url('/static/img/learnicon.png?v3.1');
    background-repeat: no-repeat;
    width: 20px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.mod-chapters .chapter .state-expand {
    background-position: 0 -37px;
}
.mod-chapters .chapter .state-open {
    background-position: 0 -37px;
}
.mod-chapters .chapter .state-unopen {
    background-position: 0 -82px;
}
.mod-chapters .chapter.chapter-active ul {
    display: block;
}
.mod-chapters .chapter.unlearn h3 {
    color: #b5b9bc;
    cursor: default;
}
.learnchapter .video li span.fr {
    float: right;
}
.learnchapter .video li.read span {
    float: right;
    color: #b3b3b3;
}
/*ѧϰ�б���ʾ*/
.laststudy {
    color: #84c00b;
    font-size: 12px;
    position: absolute;
    right: 35px;
    top: 0;
}
.uncourse {
    color: #d0d6d9;
    font-size: 14px;
    text-align: center;
    padding: 80px 0 30px 0;
}
.uncourse span {
    background: url(/static/img/unlist.gif) no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto 30px;
}
.star-box i {
    font-size: 16px;
    color: #d0d6d9;
}
.star-box i.active {
    color: #ff9900;
}
.star-box em {
    position: relative;
}
.star-box i.icon-star_half {
    position: absolute;
    left: 0px;
    top: 0;
    color: #ff9900;
}
.star-box.js-star {
    cursor: pointer;
    position: relative;
    overflow: visible;
}
.star-box .star-tip {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 150px;
    padding: 10px;
    font-size: 14px;
    color: #ff9900;
    line-height: 20px;
    border: 1px solid #ff9900;
    background-color: #fff;
}
.star-box .star-tip b {
    position: absolute;
    left: 50%;
    top: -6px;
    margin-left: -6px;
    width: 12px;
    height: 6px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    background: url('/static/img/course/arrow.png') no-repeat left top;
}
.score-info {
    position: relative;
    padding: 20px;
    border: 1px solid #d0d6d9;
    margin-bottom: 40px;
}
.score-info .satisfaction-degree-info {
    padding-bottom: 15px;
    border-bottom: 1px solid #d0d6d9;
}
.score-info .satisfaction-degree-info h3 {
    font-size: 14px;
    color: #787d82;
    line-height: 16px;
}
.score-info .satisfaction-degree-info h4 {
    font-size: 30px;
    line-height: 32px;
    color: #787d82;
    margin: 10px 0;
    font-weight: normal;
    border-bottom: 0 none;
    padding-bottom: 0;
}
.score-info .condition-box {
    width: 100%;
    display: table;
    margin-top: 15px;
}
.score-info .condition-box .condition {
    display: table-cell;
    height: 40px;
    line-height: 20px;
}
.score-info .condition-box .condition h3 {
    font-size: 12px;
    color: #787d82;
    text-align: left;
    line-height: 20px;
}
.score-info .condition-box .condition p {
    font-size: 14px;
    font-weight: 600;
    color: #787d82;
    text-align: left;
    line-height: 20px;
}
.score-info .info-box {
    font-size: 12px;
    line-height: 20px;
    padding-top: 20px;
}
.score-info .info-box span {
    float: left;
    color: #ff9900;
}
.score-info .info-box span em {
    font-weight: bold;
}
.score-info .info-box a {
    float: right;
    color: #14191e;
}
.score-info .person-num {
    position: absolute;
    top: 16px;
    right: 20px;
}
.score-info .person-num a {
    font-size: 12px;
    color: #b5b9bc;
}
@media only screen and (max-width: 820px) {
    .info-bar-box {
        float: none;
    }
    .score-info {
        padding: 25px 0 25px 156px;
        position: relative;
        height: 80px;
    }
    .score-info .satisfaction-degree-info {
        position: absolute;
        left: 36px;
        width: 120px;
        border-bottom: 0 none;
        padding-bottom: 0;
    }
    .score-info .condition-box {
        margin-top: 67px;
        width: 390px;
        margin-left: 22px;
    }
    .score-info .condition-box .condition {
        height: 20px;
    }
    .score-info .condition-box h3 {
        display: inline;
    }
    .score-info .condition-box h3:after {
        content: "： ";
    }
    .score-info .condition-box p {
        display: inline;
    }
    .score-info .person-num {
        top: auto;
        right: 40px;
        bottom: 20px;
    }
}
.score-info {
    position: absolute;
    right: 0;
    top: 100px;
    width: 198px;
}
.course-info-main .info-bar {
    margin-bottom: -65px \9\0;
}
.course-info-main.has-progress .info-bar {
    margin-bottom: 0px \9\0;
}
.course-info-main.has-progress .content-wrap {
    margin-top: 65px \9\0;
}
.course-info-main .aside {
    padding-top: 320px;
}
.course-info-main.has-progress .aside {
    padding-top: 50px;
}
@media only screen and (max-width: 820px) {
    .score-info {
        position: relative;
        right: auto;
        top: auto;
        width: auto;
        margin-top: 40px;
    }
    .course-info-main .info-bar {
        margin-bottom: 0px \9\0;
    }
    .score-info .person-num.noLogin {
        right: auto;
        bottom: 18px;
    }
    .info-box {
        position: absolute;
        right: 10px;
        bottom: 18px;
    }
    .info-box span {
        margin-right: 10px;
    }
}
