@charset "utf-8";
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
/* 设置默认字体 */
body,button, input, select, textarea {
    font: 12px/1 "微软雅黑",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
address, cite, caption, cite, code, dfn, em, strong, th, var,i  { font-style: normal;font-weight: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }


abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset,abbr, img,a img, :link img, :visited img {
       border:0px; /* img 搭车：让链接里的 img 无边框 */
}
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
textarea{
    overflow:auto;
}
/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th{border:1px solid #eaeaea;border-top:0;text-align:center;font-weight: bold;}
td{border:1px solid #eaeaea;}
/*input*/
input,textarea{text-indent:2px;border:1px solid #ccc;}
input[type="checkbox"], input[type="radio"]{
    background: transparent;
    border: 0;
}
:focus { outline: none; } /*去除边框*/
::-ms-clear { display: none; }/*去除ie删除*/
/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

/*浮动*/
.fl{float:left!important;}
.fr{float:right!important;}
.relative{position:relative!important;}
.clear{ clear:both;}
.center{text-align:center;}
.wp{width:1200px; margin:0 auto; position:relative;clear: both;}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.hide{display: none!important;}
