{% extends 'base.html' %}
{% block title %}公开课评论 - 慕学在线网{% endblock %}
{% load staticfiles %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/muke/course/learn-less.css' %}"/>
<link rel="stylesheet" href="{% static 'css/muke/course/course-comment.css' %}"/>
<link rel="stylesheet" href="{% static 'css/muke/base.css' %}">
<link rel="stylesheet" href="{% static 'css/muke/common-less.css' %}">
<link rel="stylesheet" href="{% static 'css/muke/course/common-less.css' %}">
{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'courses:course_list' %}">公开课程</a> > </li>
                <li><a href="{% url 'courses:course_detail' course.id %}">课程详情</a> > </li>
                <li>课程评论</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block custom_content %}
<div id="main">
  <div class="course-infos">
    <div class="w pr">
      <div style="height: 15px" class="path">
      </div>
      <div class="hd">
        <h2 class="l">{{ course.name }}</h2>
      </div>
      <div class="statics clearfix">
        <div class="static-item ">
          <span class="meta-value"><strong>{{ course.get_degree_display }}</strong></span>
          <span class="meta">难度</span>
          <em></em>
        </div>
        <div class="static-item static-time">
          <span class="meta-value">{{ course.learn_times }}分钟</span>
          <span class="meta">时长</span>
          <em></em>
        </div>
        <div class="static-item">
          <span class="meta-value"><strong>{{ course.students }}</strong></span>
          <span class="meta">学习人数</span>
          <em></em>
        </div>
      </div>
    </div>
  </div>
  <div class="course-info-main clearfix w has-progress">

    <div class="info-bar clearfix">
      <div class="content-wrap clearfix">
        <div class="content">
          <div class="mod-tab-menu">
            <ul class="course-menu clearfix">
              <li><a class="ui-tabs-active " id="learnOn" href="{% url 'courses:course_info' course.id %}"><span>章节</span></a></li>
              <li><a id="commentOn" class="active" href="{% url 'courses:course_comment' course.id %}"><span>评论</span></a></li>
            </ul>
          </div>

          <!--发布评论-->
          <div id="js-pub-container" class="issques clearfix js-form">
            <div class="wgt-ipt-wrap pub-editor-wrap " id="js-pl-input-fake">
              <textarea id="js-pl-textarea" class="" placeholder="扯淡、吐槽、表扬、鼓励……想说啥就说啥！"></textarea>
            </div>
            <input type="button" id="js-pl-submit" class="pub-btn" data-cid="452" value="发表评论">
            <p class="global-errortip js-global-error"></p>
          </div>
          <div id="course_note">
            <ul class="mod-post" id="comment-list">
              {#   课程评论  #}
              {% for user_comment in all_comments %}
              <li class="post-row">
                <div class="media">
                  <span target="_blank">
                    <img src='{{ MEDIA_URL }}{{ user_comment.user.image }}' width='40' height='40'/>
                  </span>
                </div>
                <div class="bd">
                  <div class="tit">
                    <span target="_blank">{{ user_comment.user.username }}</span>
                  </div>
                  <p class="cnt">{{ user_comment.comments }}</p>
                  <div class="footer clearfix">
                    <span title="创建时间" class="l timeago">{{ user_comment.add_time }}</span>
                  </div>
                </div>
              </li>
              {%  endfor %}

            </ul>
          </div>

        </div>
        <div class="aside r">
          <div class="bd">

            <div class="box mb40">
              <h4>资料下载</h4>
            {#  资料下载   #}
              <ul class="downlist">
                {% for course_resource in all_resources %}
                <li>
                  <span><i class="aui-iconfont aui-icon-file"></i>{{ course_resource.name }}</span>
                  <a href="{{ MEDIA_URL }}{{ course_resource.download }}" class="downcode" target="_blank">下载</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="box mb40">
              <h4>讲师提示</h4>
              <div class="teacher-info">
                <a href="/u/315464/courses?sort=publish" target="_blank">
                  <img src='{{ MEDIA_URL }}{{ course.teacher.image }}' width='80' height='80'/>
                </a>
                <span class="tit">
                  <a href="/u/315464/courses?sort=publish" target="_blank">{{ course.teacher.name }}</a>
                </span>
                <span class="job">{{ course.teacher.work_position }}</span>
              </div>
              <div class="course-info-tip">
                <dl class="first">
                  <dt>课程须知</dt>
                  <dd class="autowrap">{{ course.youneed_konw }}</dd>
                </dl>
                <dl>
                  <dt>老师告诉你能学到什么？</dt>
                  <dd class="autowrap">{{ course.teacher_tell }}</dd>
                </dl>
              </div>
            </div>


            <div class="cp-other-learned  js-comp-tabs">
              <div class="cp-header clearfix">
                <h2 class="cp-tit l">该课的同学还学过</h2>
              </div>
              <div class="cp-body">
                <div class="cp-tab-pannel js-comp-tab-pannel" data-pannel="course" style="display: block">
                  <!-- img 200 x 112 -->
                  <ul class="other-list">
                    {% for relate_course in relate_courses %}
                    <li class="curr">
                      <a href="{% url 'courses:course_detail' relate_course.id %}" target="_blank">
                        <img src="{{ MEDIA_URL }}{{ relate_course.image }}"  alt="{{ relate_course.name }}" />
                        <span class="name autowrap">{{ relate_course.name }}</span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="cp-tab-pannel js-comp-tab-pannel" data-pannel="plan">
                  <ul class="other-list">
                    <li class="curr">
                      <a href="/course/programdetail/pid/31?src=sug" target="_blank">
                        <img src="http://img.mukewang.com/56551e6700018b0c09600720-240-135.jpg" alt="Java工程师">
                        <span class="name autowrap">Java工程师</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="clear"></div>

    </div>

  </div>
</div>
{% endblock %}

{% block custom_js %}
<script>
//添加评论
$('#js-pl-submit').on('click', function () {
    var comments = $("#js-pl-textarea").val()
    if (comments == "") {
        alert("评论不能为空")
        return
    }
    $.ajax({
        cache: false,
        type: "POST",
        url: "{% url 'courses:add_comment' %}",
        data: {course_id: {{ course.id }}, comments: comments},
        async: true,
        beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function (data) {
            if (data.status == 'fail') {
              if (data.msg == '用户未登录') {
                  window.location.href = "{% url 'login' %}";
              } else {
                  alert(data.msg)
              }
            } else if (data.status == 'success') {
                alert('评论成功！')
                window.location.reload();//刷新当前页面.
            }
        },
        error: function(error) {
          alert('ajax 失败!')
        }
    });
});
</script>
{% endblock %}
