{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}课程机构列表 - 慕学在线网{% endblock %}

{% block custom_bread %}
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block custom_content %}
<div class="banner">
  <div class="wp">
    <div class="fl">
      <div class="imgslide">
        <ul class="imgs">

          <li>
            <a href="http://www.imooc.com">
              <img width="1200" height="478" src="/static/media/banner/2016/11/57a801860001c34b12000460.jpg"/>
            </a>
          </li>

          <li>
            <a href="http://www.projectsedu.com">
              <img width="1200" height="478" src="/static/media/banner/2016/11/57aa86a0000145c512000460.jpg"/>
            </a>
          </li>

          <li>
            <a href="http://www.projectsedu.com">
              <img width="1200" height="478" src="/static/media/banner/2016/11/57a801860001c34b12000460_z4Vb8zl.jpg"/>
            </a>
          </li>

          <li>
            <a href="http://www.projectsedu.com">
              <img width="1200" height="478" src="/static/media/banner/2016/11/57aa86a0000145c512000460_nMwvoQD.jpg"/>
            </a>
          </li>

          <li>
            <a href="http://www.projectsedu.com">
              <img width="1200" height="478" src="/static/media/banner/2016/11/57aa86a0000145c512000460_GXIBATC.jpg"/>
            </a>
          </li>


        </ul>
      </div>
      <div class="unslider-arrow prev"></div>
      <div class="unslider-arrow next"></div>
    </div>

  </div>


</div>
<!--banner -->
<section>
  <div class="wp">
    <ul class="feature">
      <li class="feature1">
        <img class="pic" src="/static/images/feature1.png"/>
        <p class="center">专业权威</p>
      </li>
      <li class="feature2">
        <img class="pic" src="/static/images/feature2.png"/>
        <p class="center">课程最新</p>
      </li>
      <li class="feature3">
        <img class="pic" src="/static/images/feature3.png"/>
        <p class="center">名师授课</p>
      </li>
      <li class="feature4">
        <img class="pic" src="/static/images/feature4.png"/>
        <p class="center">数据真实</p>
      </li>
    </ul>
  </div>
</section>
<!--feature end-->
<!--module1 start-->
<section>
  <div class="module">
    <div class="wp">
      <h1>公开课程</h1>
      <div class="module1 eachmod">
        <div class="module1_1 left">
          <img width="228" height="614" src="/static/images/module1_1.jpg"/>
          <p class="fisrt_word">名师授课<br/>专业权威</p>
          <a class="more" href="course-list.html">查看更多课程 ></a>
        </div>
        <div class="right group_list">
          <div class="module1_2 box">
            <div class="imgslide2">
              <ul class="imgs">

                <li>
                  <a href="course-detail.html">
                    <img width="470" height="300" src="/static/media/courses/2016/12/python文件处理.jpg"/>
                  </a>
                </li>

                <li>
                  <a href="course-detail.html">
                    <img width="470" height="300" src="/static/media/courses/2016/12/python面向对象.jpg"/>
                  </a>
                </li>

              </ul>
            </div>
            <div class="unslider-arrow2 prev"></div>
            <div class="unslider-arrow2 next"></div>
          </div>

          <div class="module1_3 box">
            <a href="course-detail.html">
              <img width="233" height="190" src="/static/media/courses/2016/11/mysql.jpg"/>
            </a>
            <div class="des">
              <a href="course-detail.html">
                <h2 title="django入门">django入门</h2>
              </a>
              <span class="fl">难度：<i class="key">初级</i></span>
              <span class="fr">学习人数：3</span>
            </div>
            <div class="bottom">
              <span class="fl" title="慕课网">慕课网</span>
              <span class="star fr">0</span>
            </div>
          </div>

          <div class="module1_4 box">
            <a href="course-detail.html">
              <img width="233" height="190" src="/static/media/courses/2016/11/57035ff200014b8a06000338-240-135.jpg"/>
            </a>
            <div class="des">
              <a href="course-detail.html">
                <h2 title="java入门">java入门</h2>
              </a>
              <span class="fl">难度：<i class="key">中级</i></span>
              <span class="fr">学习人数：0</span>
            </div>
            <div class="bottom">
              <span class="fl" title="北京大学">北京大学</span>
              <span class="star fr">0</span>
            </div>
          </div>

          <div class="module1_5 box">
            <a href="course-detail.html">
              <img width="233" height="190" src="/static/media/courses/2016/11/540e57300001d6d906000338-240-135.jpg"/>
            </a>
            <div class="des">
              <a href="course-detail.html">
                <h2 title="python入门">python入门</h2>
              </a>
              <span class="fl">难度：<i class="key">中级</i></span>
              <span class="fr">学习人数：0</span>
            </div>
            <div class="bottom">
              <span class="fl" title="南京大学">南京大学</span>
              <span class="star fr">0</span>
            </div>
          </div>

          <div class="module1_6 box">
            <a href="course-detail.html">
              <img width="233" height="190"
                   src="/static/media/courses/2016/11/57035ff200014b8a06000338-240-135_dHfj8Nq.jpg"/>
            </a>
            <div class="des">
              <a href="course-detail.html">
                <h2 title="java入门2">java入门2</h2>
              </a>
              <span class="fl">难度：<i class="key">高级</i></span>
              <span class="fr">学习人数：0</span>
            </div>
            <div class="bottom">
              <span class="fl" title="慕课网2">慕课网2</span>
              <span class="star fr">0</span>
            </div>
          </div>

          <div class="module1_7 box">
            <a href="course-detail.html">
              <img width="233" height="190"
                   src="/static/media/courses/2016/11/57035ff200014b8a06000338-240-135_0nFiBSI.jpg"/>
            </a>
            <div class="des">
              <a href="course-detail.html">
                <h2 title="java入门3">java入门3</h2>
              </a>
              <span class="fl">难度：<i class="key">初级</i></span>
              <span class="fr">学习人数：1</span>
            </div>
            <div class="bottom">
              <span class="fl" title="慕课网3">慕课网3</span>
              <span class="star fr">0</span>
            </div>
          </div>

          <div class="module1_8 box">
            <a href="course-detail.html">
              <img width="233" height="190"
                   src="/static/media/courses/2016/11/540e57300001d6d906000338-240-135_MSIqfvw.jpg"/>
            </a>
            <div class="des">
              <a href="course-detail.html">
                <h2 title="python入门2">python入门2</h2>
              </a>
              <span class="fl">难度：<i class="key">中级</i></span>
              <span class="fr">学习人数：0</span>
            </div>
            <div class="bottom">
              <span class="fl" title="慕课网666">慕课网666</span>
              <span class="star fr">0</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="module greybg">
    <div class="wp">
      <h1>课程机构</h1>
      <div class="module3 eachmod">
        <div class="module3_1 left">
          <img width="228" height="463" src="/static/images/module3_1.jpg"/>
          <p class="fisrt_word">名校来袭<br/>权威认证</p>
          <a class="more" href="org-list.html">查看更多机构 ></a>
        </div>
        <div class="right">
          <ul>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/11/imooc.png"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="慕课网">慕课网</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/11/bjdx.jpg"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="北京大学">北京大学</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/11/qhdx-logo.png"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="清华大学">清华大学</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/11/njdx.jpg"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="南京大学">南京大学</span></p>
              </a>
            </li>

            <li class="five">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/11/imooc_klgAUn5.png"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="慕课网2">慕课网2</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/11/imooc_Gn1sRjp.png"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="慕课网3">慕课网3</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/11/imooc_Y2Tonsq.png"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="慕课网3">慕课网3</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/11/imooc_OO2ykYP.png"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="慕课网4">慕课网4</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/11/imooc_V0TJOyb.png"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="慕课网5">慕课网5</span></p>
              </a>
            </li>

            <li class="five">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/11/imooc_qEaMov1.png"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="慕课网666">慕课网666</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/12/bjdx.jpg"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="慕学网">慕学网</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/12/imooc_Gn1sRjp.png"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="python培训机构">python培训机构</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/12/bjdx_cCpdUw8.jpg"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="vuejs培训">vuejs培训</span></p>
              </a>
            </li>

            <li class="">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/12/imooc_klgAUn5.png"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="nodejs培训">nodejs培训</span></p>
              </a>
            </li>

            <li class="five">
              <a href="org-detail-homepage.html">
                <div class="company">
                  <img width="184" height="100" src="/static/media/org/2016/12/bjdx_bcd0m07.jpg"/>
                  <div class="score">
                    <div class="circle">
                      <h2>全国知名</h2>
                    </div>
                  </div>
                </div>
                <p><span class="key" title="慕学在线">慕学在线</span></p>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
