<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>慕学在线网登录</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="bg" id="dialogBg"></div>
<header>
  <div class="c-box fff-box">
    <div class="wp header-box">
      <p class="fl hd-tips">慕学在线网，在线学习平台！</p>
      <ul class="fr hd-bar">
        <li>服务电话：<span>33333333</span></li>
        <li class="active"><a href="{% url 'login' %}">[登录]</a></li>
        <li><a href="{% url 'register' %}">[注册]</a></li>
      </ul>
    </div>
  </div>
</header>
<section>
  <div class="c-box bg-box">
    <div class="login-box clearfix">
      <div class="hd-login clearfix">
        <a class="index-logo" href="{% url 'index' %}"></a>
        <h1>用户登录</h1>
        <a class="index-font" href="{% url 'index' %}">回到首页</a>
      </div>
      <div class="fl slide">
        <div class="imgslide">
          <ul class="imgs">
            <li><a href=""><img width="483" height="472" src="{% static 'images/mysql.jpg' %}"/></a></li>
            <li><a href=""><img width="483" height="472" src="{% static 'images/mysql.jpg' %}"/></a></li>
            <li><a href=""><img width="483" height="472" src="{% static 'images/mysql.jpg' %}"/></a></li>
          </ul>
        </div>
        <div class="unslider-arrow prev"></div>
        <div class="unslider-arrow next"></div>
      </div>
      <div class="fl form-box">
        <h2>帐号登录</h2>
        <form action="{% url 'login' %}" method="post" autocomplete="off">
          <div class="form-group marb20 {% if form_errors.username %} errorput {% endif %}">
            <input name="username" id="username" type="text" placeholder="手机号/邮箱"/>
          </div>
          <div class="form-group marb8 {% if form_errors.password %} errorput {% endif %}">
            <input name="password" id="password_l" type="password" placeholder="请输入您的密码"/>
          </div>
          <div class="error btns login-form-tips" id="jsLoginTips">
            {% for key, error in form_errors.items %}
              {{ error }}
            {% endfor %}
            {% if not form_errors %} {{ msg }} {% endif %}
          </div>
          <div class="auto-box marb38">
            <a class="fr" href="{% url 'forget_pwd' %}">忘记密码？</a>
          </div>
          <input class="btn btn-green" id="jsLoginBtn" type="submit" value="立即登录 "/>
        {% csrf_token %}
        </form>
        <p class="form-p">没有慕学在线网帐号？<a href="{% url 'register' %}">[立即注册]</a></p>
      </div>
    </div>
  </div>
</section>
<script src="{% static 'js/jquery.min.js' %}" ></script>
<script src="{% static 'js/unslider.js' %}" ></script>
<script src="{% static 'js/login.js' %}" ></script>
</body>
</html>
