{% extends 'org-base.html' %}
{% load staticfiles %}
{% block custom_title %}课程机构首页{% endblock %}
{% block page_path %}课程机构首页{% endblock %}
{% block right_form %}
<div class="right companycenter layout grouping">
  <div class="head">
    <h1>全部课程</h1>
    <a class="green fr more" href="{% url 'org:org_course' org_id %}">查看更多 > </a>
  </div>
  <div class="brief group_list">
    <!-- 全部课程 -->
    {% for course in all_courses %}
    <div class="module1_5 box">
      <a href="{% url 'courses:course_detail' course.id %}"><img width="214" src="{{ MEDIA_URL }}{{ course.image }}"/></a>
      <div class="des">
        <a href="{% url 'courses:course_detail' course.id %}"><h2>{{ course.name }}</h2></a>
        <span class="fl">课时：<i class="key">{{ course.learn_times }}</i></span>
        <span class="fr">参加人数：{{ course.students }}</span>
      </div>
      <div class="bottom">
        <span class="fl">{{ course.course_org.name }}</span>
        <span class="star fr notlogin" data-favid="13" data-fav-type="4">{{ course.fav_nums }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="right companycenter layout">
  <div class="head">
    <h1>机构教师</h1>
    <a class="green fr more" href="{% url 'org:org_teacher' org_id %}">查看更多 > </a>
  </div>
  {% for teacher in all_teachers %}
  <div class="diarys">
    <div class="module5 share company-diary-box" style="padding:10px 0;">
      <a href="{% url 'org:teacher_detail' teacher.id %}" class="left">
        <img class="pic" src="{{ MEDIA_URL }}{{ teacher.image }}"/>
        <p>昵称：{{ teacher.name }}</p>
      </a>
      <div class="right">
        <div class="top">
          <div class="fl">
            <a href=""><h1>java开发教程</h1></a>
            <span>发表于：2015-10-12</span>
          </div>
        </div>
        <div class="middle" style="border-bottom:0;">课程介绍</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="right companycenter layout">
  <div class="head">
    <h1>机构介绍</h1>
    <a class="green fr more" href="{% url 'org:org_desc' org_id %}">查看更多 > </a>
  </div>
  <p class="cont">{{ course_org.desc }}</p>
</div>
{% endblock %}