<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>慕学在线注册</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
<header>
  <div class="c-box fff-box">
    <div class="wp header-box">
      <p class="fl hd-tips">慕学在线，在线学习平台！</p>
      <ul class="fr hd-bar">
        <li>服务电话：<span>4001008031</span></li>
        <li><a href="{% url 'login' %}">[登录]</a></li>
        <li class="active"><a href="{% url 'register' %}">[注册]</a></li>
      </ul>
    </div>
  </div>
</header>
<section>
  <div class="c-box bg-box">
    <div class="login-box clearfix">
      <div class="hd-login clearfix">
        <a class="index-logo" href="{% url 'index' %}"></a>
        <h1>用户注册</h1>
        <a class="index-font" href="{% url 'index' %}">回到首页</a>
      </div>
      <div class="fl slide">
        <div class="imgslide">
          <ul class="imgs">

            <li><a href=""><img width="483" height="472" src="{% static 'images/57a801860001c34b12000460.jpg' %}"/></a></li>

            <li><a href=""><img width="483" height="472" src="{% static 'images/57a801860001c34b12000460.jpg' %}"/></a></li>

            <li><a href=""><img width="483" height="472" src="{% static 'images/57a801860001c34b12000460.jpg' %}"/></a></li>

          </ul>
        </div>
        <div class="unslider-arrow prev"></div>
        <div class="unslider-arrow next"></div>
      </div>
      <div class="fl form-box">
        <div class="tab">
          <h2>邮箱注册</h2>
        </div>

        <div class="tab-form">
          <form id="email_register_form" method="post" action="{% url 'register' %}" autocomplete="off">
            <div class="form-group marb20 {% if register_form.errors.email %} errorput {% endif %} ">
              <input type="text" id="id_email" name="email" value="{{ register_form.email.value }}" placeholder="请输入您的邮箱地址"/>
            </div>
            <div class="form-group marb8 {% if register_form.errors.password %} errorput {% endif %} ">
              <input type="password" id="id_password" name="password" value="{{ register_form.password.value }}" placeholder="请输入6-20位非中文字符密码"/>
            </div>
            <div class="form-group marb8 captcha1 {% if register_form.errors.captcha %} errorput {% endif %} ">
              <label>验&nbsp;证&nbsp;码</label>
              {{ register_form.captcha }}
            </div>
            <div class="error btns" id="jsEmailTips">
              {% for key, error in register_form.errors.items %}
                {{ error }}
              {% endfor %}
              {% if not register_form.errors.items %}{{ msg }}{% endif %}
            </div>
            <div class="auto-box marb8">
            </div>
            <input class="btn btn-green" id="jsEmailRegBtn" type="submit" value="注册并登录"/>
          {% csrf_token %}
          </form>
        </div>
        <p class="form-p">已有账号？<a href="{% url 'login' %}">[立即登录]</a></p>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/unslider.js' %}"></script>
<script src="{% static 'js/validateDialog.js' %}"></script>
{# 点击刷新验证码的逻辑在 login.js 里 #}
<script src="{% static 'js/login.js' %}"></script>
</body>
</html>