{% extends 'usercenter-base.html' %}
{% load staticfiles %}
{% block title %}我的课程-慕学在线网{% endblock %}

{% block custom_bread %}
<section>
  <div class="wp">
    <ul class="crumbs">
      <li><a href="{% url 'index' %}">首页</a>></li>
      <li><a href="{% url 'users:user_info' %}">个人中心</a>></li>
      <li>我的消息</li>
    </ul>
  </div>
</section>
{% endblock %}

{% block right_content %}
<div class="right">
      <div class="personal_des Releasecont">
        <div class="head">
          <h1>我的消息</h1>
        </div>

      </div>
      <div class="personal_des permessage">
        <div class="head">
          <ul class="tab_header messagehead">
            <li class="active"><a href="{% url 'users:mymessage' %}">个人消息</a></li>
          </ul>
        </div>
        <div class="messagelist">
          {% for message in messages.object_list %}
          <div class="messages">
            <div class="fr">
              <div class="top">
                <span class="fl time">{{ message.add_time }}</span>
                <span class="fr btn foldbtn"></span>
              </div>
              <p>
                {{ message.message }}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>


        <!-- 分页器 -->
        <div class="pageturn">
          <ul class="pagelist">
            {% if messages.has_previous %}
            <li class="long">
              <a href="?{{ messages.previous_page_number.querystring }}" class="prev">上一页</a>
            </li>
            {% endif %}

            {% for page in messages.pages %}
              {% if page %}
                {% ifequal page messages.number %}
                  <li class="active"><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% else %}
                  <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
              {% else %}
                <li class="none"><a href="">...</a></li>
              {% endif %}
            {% endfor %}
            {% if messages.has_next %}
              <li class="long"><a href="?{{ messages.next_page_number.querystring }}">下一页</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

    </div>
{% endblock %}
