{% extends 'usercenter-base.html' %}
{% load staticfiles %}
{% block title %}我的课程-慕学在线网{% endblock %}

{% block custom_bread %}
<section>
  <div class="wp">
    <ul class="crumbs">
      <li><a href="{% url 'index' %}">首页</a>></li>
      <li><a href="{% url 'users:user_info' %}">个人中心</a>></li>
      <li>我的收藏</li>
    </ul>
  </div>
</section>
{% endblock %}

{% block right_content %}
<div class="right">
      <div class="personal_des Releasecont">
        <div class="head">
          <h1>我的收藏</h1>
        </div>
      </div>
      <div class="personal_des permessage">
        <div class="head">
          <ul class="tab_header messagehead">
            <li><a href="{% url 'users:myfav_org' %}">课程机构</a></li>
            <li><a href="{% url 'users:myfav_teacher' %}">授课教师 </a></li>
            <li class="active"><a href="{% url 'users:myfav_course' %}">公开课程</a></li>
          </ul>

        </div>
        <div class="companycenter">
          <div class="group_list brief">
            {% for fav_course in course_list %}
            <div class="module1_5 box">
              <a href="{% url 'courses:course_detail' fav_course.id %}">
                <img width="214" height="190"
                     src="{{ MEDIA_URL }}{{ fav_course.image }}"/>
              </a>
              <div class="des">
                <a href="{% url 'courses:course_detail' fav_course.id %}"><h2>{{ fav_course.name }}</h2></a>
                <span class="fl">时长：<i class="key">{{ fav_course.learn_times }}</i></span>
                <span class="fr">学习人数：{{ fav_course.students }}</span>
              </div>
              <div class="bottom">
                <span class="fl">{{ fav_course.course_org.name }}</span>
                <span class="delete-group fr jsDeleteFav_course" data-favid="{{ fav_course.id }}"></span>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
{% endblock %}
